@page
@model BurgerJoint.StoreFront.Features.Orders.Index

@{
    Layout = null;
}
<ul>
    <li><a asp-page="./Create">Create order</a></li>
    <li><a asp-page="./InProgress">Show orders progress</a></li>
</ul>